$dark-primary: (
  50 : #e5e5e9,
  100 : #bebdc8,
  200 : #9292a3,
  300 : #66667e,
  400 : #464562,
  500 : #252446,
  600 : #21203f,
  700 : #1b1b37,
  800 : #16162f,
  900 : #0d0d20,
  A100 : #6161ff,
  A200 : #2e2eff,
  A400 : #0000fa,
  A700 : #0000e0,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$dark-secondary: (
  50 : #f8f3e3,
  100 : #eee2b9,
  200 : #e3cf8a,
  300 : #d7bc5b,
  400 : #cfad38,
  500 : #c69f15,
  600 : #c09712,
  700 : #b98d0f,
  800 : #b1830c,
  900 : #a47206,
  A100 : #ffeed0,
  A200 : #ffdc9d,
  A400 : #ffca6a,
  A700 : #ffc150,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-primary: (
  50 : #fff6e3,
  100 : #ffe8ba,
  200 : #ffd98c,
  300 : #ffca5e,
  400 : #ffbe3c,
  500 : #ffb319,
  600 : #ffac16,
  700 : #ffa312,
  800 : #ff9a0e,
  900 : #ff8b08,
  A100 : #ffffff,
  A200 : #fff9f4,
  A400 : #ffdfc1,
  A700 : #ffd2a7,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$light-secondary: (
  50 : #fcfefd,
  100 : #f8fcfa,
  200 : #f4fbf7,
  300 : #eff9f4,
  400 : #ebf7f1,
  500 : #e8f6ef,
  600 : #e5f5ed,
  700 : #e2f3eb,
  800 : #def2e8,
  900 : #d8efe4,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
