@import 'src/styles/variables';

.home {
  .content {
    .manga-list {
      --gap: 12px;
      --cards-per-lines: 3;
      display: inline-flex;
      flex-wrap: wrap;
      margin: calc(-1 * var(--gap)) 0 0 calc(-1 * var(--gap));
      width: calc(100% + var(--gap));

      .manga-card {
        margin: var(--gap) 0 0 var(--gap);
        flex: 0 0 calc(100% / var(--cards-per-lines) - var(--gap));

        .container {
          height: 250px;
        }
      }
    }

    @include for_breakpoint(mobile) {
      .manga-list {
        --cards-per-lines: 1;
      }
    }
  }
}
