<div class="content">
  <mat-form-field class="search" appearance="outline" color="accent">
    <mat-label>{{ 'home.form.search.label' | translate }}</mat-label>
    <input matInput type="text" [formControl]="searchedTitleCtrl">
    <mat-spinner *ngIf="loading$ | async" matSuffix color="accent" diameter="25"></mat-spinner>
    <mat-icon *ngIf="!(loading$ | async)" matSuffix color="accent">search</mat-icon>
  </mat-form-field>

  <div class="manga-list">
    <ng-container *ngFor="let manga of (mangas$ | async)">
      <manga-card [manga]="manga"></manga-card>
    </ng-container>
  </div>

  <mat-paginator #paginator
                 app-pagination
                 [length]="(pagedMangas$ | async)?.total"
                 [pageIndex]="pager.page"
                 [pageSize]="pager.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageActions($event)"
                 showFirstLastButtons></mat-paginator>
</div>
