<div class="content">
  <search (searchValue)="search($event)" [label]="'home.form.search.label'" [loading]="(loading$ | async)!"></search>

  <div class="manga-list">
    <ng-container *ngFor="let manga of (mangas$ | async)">
      <manga-card [manga]="manga"></manga-card>
    </ng-container>
  </div>

  <mat-paginator #paginator
                 app-pagination
                 [length]="(pagedMangas$ | async)?.total"
                 [pageIndex]="pager.page"
                 [pageSize]="pager.pageSize"
                 [pageSizeOptions]="pageSizeOptions"
                 (page)="pageActions($event)"
                 showFirstLastButtons></mat-paginator>
</div>
